!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8"}
		%title Gamez
		= stylesheet_link_tag "application"
	#main_view
		#user_navigation
			= user_nav
		Main Page
		%p{:style => "color: green"}= notice
		= yield