#product-list table {
        border-collapse: collapse;
}

#product-list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product-list .list-image {
  width:        60px;
  height:       70px;
}

#product-list .list-description {
  width:        60%;
}

#product-list .list-description dl {
        margin: 0;
}

#product-list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product-list .list-description dd {
        margin: 0;
}

#product-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#article_list .list_even {
  background:   #EEEEEE;
}

#article_list .list_odd {
  background:   #CCCCCC;
}
