body {
font-family: 'comic sans ms', verdana, arial, helvetica, sans-serif;
}

#article_list {
height: 340px;
width: 90%;
margin-left: auto;
margin-right: auto;
overflow: auto;
}

#article_list table {
width: 100%;
border: 2px solid #000000;
padding: 1px;
border-collapse: collapse;
}

#article_list table th {
height: 40px;
background: #BBBBBB;
}

#article_list table tr {
height: 30px;
}

#article_list .list_even {
background:   #DDDDDD;
}

#article_list .list_odd {
background:   #EEEEEE;
}

#header {
text-align: center;
line-height: 5px;
padding-top: 20px;
}

#header h1{
font-size: 40px;
}
