#main
	%h2
		Users

	%table
		%tr
		- @users.each do |user|
			%tr
				%td= user.username
				- if permitted_to? :edit, @user
					%td= link_to 'Edit', edit_admin_user_path(user)
				- if permitted_to? :destroy, @user
					%td= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete
	%p= will_paginate @articles