<html>
	<head>
		<title>See you later!</title>
	</head>
	<body>
		<h1>Goodbye!</h1>
		<p>
			It was good having you here.
		</p>
		<p>
			Say <%= link_to "hello", :action => "hello" %> again.
		</p>
	</body>
</html>